.18_153 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e18_153 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 1.0000000591389835, 66.00000366568565, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e18_157 { 
	box-shadow:10px 10px 14px rgba(0, 0, 0, 0.25);
	width:1215px;
	height:729px;
	position:absolute;
	left:113px;
	top:229px;
}.e18_158 { 
	background-color:rgba(0, 2.000000118277967, 75.00000312924385, 1);
	width:1215px;
	height:729px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e18_180 { 
	width:358px;
	height:65px;
	position:absolute;
	left:134px;
	top:35px;
}.e18_181 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:281px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e18_182 { 
	width:58px;
	height:58px;
	position:absolute;
	left:300px;
	top:0px;
	background-image:url(images/plane.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_183 { 
	width:156px;
	height:44px;
	position:absolute;
	left:136px;
	top:157px;
}.e18_184 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:156px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_188 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:44px;
	position:absolute;
	left:415px;
	top:258px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_189 { 
	color:rgba(255, 255, 255, 1);
	width:721px;
	height:44px;
	position:absolute;
	left:416px;
	top:312px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_193 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:44px;
	position:absolute;
	left:416px;
	top:367px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_196 { 
	color:rgba(255, 255, 255, 1);
	width:72px;
	height:44px;
	position:absolute;
	left:416px;
	top:422px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_199 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:44px;
	position:absolute;
	left:416px;
	top:477px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_186 { 
	color:rgba(255, 255, 255, 1);
	width:197px;
	height:44px;
	position:absolute;
	left:136px;
	top:258px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_190 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:44px;
	position:absolute;
	left:136px;
	top:312px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_194 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:44px;
	position:absolute;
	left:136px;
	top:367px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_197 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:44px;
	position:absolute;
	left:136px;
	top:422px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_200 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:44px;
	position:absolute;
	left:136px;
	top:477px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_187 { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:390px;
	top:290px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_191 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:44px;
	position:absolute;
	left:370px;
	top:257px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_192 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:44px;
	position:absolute;
	left:370px;
	top:312px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_195 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:44px;
	position:absolute;
	left:370px;
	top:367px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_198 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:44px;
	position:absolute;
	left:370px;
	top:422px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e21_201 { 
	color:rgba(255, 255, 255, 1);
	width:8px;
	height:44px;
	position:absolute;
	left:370px;
	top:477px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}