.3_4 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e3_4 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 1.0000000591389835, 66.00000366568565, 1);
	width:1438px;
	height:1024px;
	position:absolute;
}.e5_35 { 
	width:358px;
	height:65px;
	position:absolute;
	left:540px;
	top:35px;
}.e5_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:281px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e5_23 { 
	width:58px;
	height:58px;
	position:absolute;
	left:300px;
	top:0px;
	background-image:url(images/plane.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_14 { 
	box-shadow:10px 10px 14px rgba(0, 0, 0, 0.25);
	width:1216px;
	height:164px;
	position:absolute;
	left:111px;
	top:322px;
}.e7_11 { 
	width:827px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_36 { 
	background-color:rgba(3.000000058673322, 11.000000294297934, 92.00000211596489, 1);
	width:363.9405212402344px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e5_51 { 
	color:rgba(25.000000409781933, 60.00000022351742, 240.00000089406967, 1);
	width:67px;
	height:33px;
	position:absolute;
	left:146.0302276611328px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e5_37 { 
	background-color:rgba(3.000000058673322, 11.000000294297934, 92.00000211596489, 1);
	width:363.9405212402344px;
	height:59px;
	position:absolute;
	left:463.05950927734375px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e7_2 { 
	color:rgba(25.000000409781933, 60.00000022351742, 240.00000089406967, 1);
	width:114px;
	height:33px;
	position:absolute;
	left:593.2003784179688px;
	top:14px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e7_3 { 
	width:43.88472366333008px;
	height:34px;
	position:absolute;
	left:391.1793518066406px;
	top:13px;
	background-image:url(images/sorting_arrows_horizontal.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e7_15 { 
	background-color:rgba(3.000000058673322, 11.000000294297934, 92.00000211596489, 1);
	width:9px;
	height:44px;
	position:absolute;
	left:864px;
	top:8px;
	border-radius:13px;
}.e7_13 { 
	width:307px;
	height:59px;
	position:absolute;
	left:908px;
	top:0px;
}.e7_6 { 
	background-color:rgba(3.000000058673322, 11.000000294297934, 92.00000211596489, 1);
	width:307px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e7_7 { 
	color:rgba(25.000000409781933, 60.00000022351742, 240.00000089406967, 1);
	width:153px;
	height:33px;
	position:absolute;
	left:78.71794891357422px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e21_202 { 
	width:307px;
	height:59px;
	position:absolute;
	left:909px;
	top:105px;
}.e21_203 { 
	background-color:rgba(23.000000528991222, 54.00000058114529, 221.00000202655792, 1);
	width:307px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e21_204 { 
	color:rgba(3.000000058673322, 11.000000294297934, 92.00000211596489, 1);
	width:78px;
	height:33px;
	position:absolute;
	left:114px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e25_166 { 
	width:307px;
	height:59px;
	position:absolute;
	left:0px;
	top:105px;
}.e25_167 { 
	background-color:rgba(23.000000528991222, 54.00000058114529, 221.00000202655792, 1);
	width:307px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.25_167 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e25_168 { 
	color:rgba(0, 1.0000000591389835, 66.00000366568565, 1);
	width:58px;
	height:33px;
	position:absolute;
	left:124px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}