.12_70 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e12_70 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 1.0000000591389835, 66.00000366568565, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e12_74 { 
	box-shadow:10px 10px 14px rgba(0, 0, 0, 0.25);
	width:1215px;
	height:729px;
	position:absolute;
	left:113px;
	top:229px;
}.e12_75 { 
	background-color:rgba(0, 2.000000118277967, 75.00000312924385, 1);
	width:1215px;
	height:729px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e12_76 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:22px;
	border-radius:19px;
}.e12_77 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:123px;
	border-radius:19px;
}.e12_78 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:224px;
	border-radius:19px;
}.e12_79 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:325px;
	border-radius:19px;
}.e12_80 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:426px;
	border-radius:19px;
}.e12_81 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:22px;
	top:527px;
	border-radius:19px;
}.e12_82 { 
	background-color:rgba(0, 7.000000057742, 87.00000241398811, 1);
	width:1171px;
	height:79px;
	position:absolute;
	left:23px;
	top:628px;
	border-radius:19px;
}.e12_83 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:33px;
	position:absolute;
	left:62px;
	top:46px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_84 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1075px;
	top:46px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_147 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1076px;
	top:147px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_148 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1077px;
	top:252px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_149 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1075px;
	top:347px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_150 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1075px;
	top:451px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_151 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1075px;
	top:552px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_152 { 
	color:rgba(255, 255, 255, 1);
	width:87px;
	height:33px;
	position:absolute;
	left:1075px;
	top:651px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_98 { 
	color:rgba(255, 255, 255, 1);
	width:108px;
	height:33px;
	position:absolute;
	left:62px;
	top:147px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e18_146 { 
	color:rgba(255, 255, 255, 1);
	width:141px;
	height:33px;
	position:absolute;
	left:62px;
	top:252px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_100 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:30px;
	position:absolute;
	left:62px;
	top:349px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_101 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:33px;
	position:absolute;
	left:62px;
	top:451px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_102 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:33px;
	position:absolute;
	left:62px;
	top:552px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_103 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:33px;
	position:absolute;
	left:62px;
	top:651px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e12_122 { 
	width:358px;
	height:65px;
	position:absolute;
	left:134px;
	top:35px;
}.e12_123 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:281px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e12_124 { 
	width:58px;
	height:58px;
	position:absolute;
	left:300px;
	top:0px;
	background-image:url(images/plane.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e12_125 { 
	width:217px;
	height:44px;
	position:absolute;
	left:136px;
	top:157px;
}.e12_126 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:217px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}